.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto 30px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

a{
    color: black;
}
form{
margin: 10px auto;
}
section{
    margin: auto;
}
section table,th,td{
    border: solid black 1px;
    margin: auto;

}
caption{
    text-align: center;
    font-size: 2em;
}
tr:nth-child(odd){
    background-color: aquamarine;
}

ul{
    list-style-type: none;
}

header{
    grid-area: header;
}


header > h1{
    margin:0;
    text-align: center;
}

nav{
    grid-area: nav;
    background-color: lightgrey;
    text-align: center;
}

nav > ul{
    margin:0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    height: 100%;
}

nav li{
    list-style-type: none;
    height: 100%;
}

nav a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

main{
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
}
main > p{
    text-align: center;
}

main img{
    display: none;
}

footer{
    grid-area: footer;
    text-align: right;
}

@media screen and (min-width: 800px){
    body{
        height: 95vh;
    }
    .Form{
        width: 97%;
        margin: 0 auto;
    }


    .wrapper{
        width: 97%;
        height: 95%;
        margin: 0 auto;
        grid-template-rows: 50px 50px auto 30px;
    }

    nav > ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        text-decoration: none;
    }

    .wrapper main{
        grid-template-columns: 1fr 2fr ;
        overflow: auto;
    }

    .Form main{
        grid-template-columns: 1fr;
    }

    main img{
        display: block;
        width: 75%;
        margin: auto;
    }

    section{
        margin:20vh 4vw ;
        font-size: 1.5em;
     
    }


    
}
