

/*class som skapar en grid med 1 kolumn och 4 rader*/
.wrapper{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto 30px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}
/*Egenskaper för formulär*/
form{
margin: 10px auto;
}

/*Egensaper för header*/
header{
    grid-area: header;
}
/*centrerar h1*/
header > h1{
    margin:0;
    text-align: center;
}

/*Egenkaper för Nav, centrerar texten i nav*/
nav{
    grid-area: nav;
    background-color: rgb(194, 191, 191);
    text-align: center;
}
/*Centrerar listan i nav,skapar ny grid för nav*/
nav > ul{
    margin:0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    height: 100%;
}
/*Sätter storlek för li*/
nav li{
    height: 100%;
}
/*centrerar länken och storleken för länktexten*/
nav a{
    margin: auto;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

/*Egenskaper för Main*/
main{
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
}
/*centrera texten i p*/
main > p{
    text-align: center;
}
/*tar bort alla bilder i main*/
main img{
    display: none;
}
/*definerar storlek på iframe fönstret samt centrerar det*/
main iframe{
    display: block;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
/*gör bilden rund samt ger den en svart ram */
main img{
    border-radius: 99%;
    border: solid black 2px;
}

/*Egenskaper för footer*/
footer{
    grid-area: footer;
    text-align: right;
}

/*Egenskaper för listor tarbort all deckoration från listor*/
ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

/*Egenskaper för länkar, gör länktexter svarta*/
a{
    text-decoration: none;
    color: black;
}

/*Egenskaper för section*/
section{
    margin: 0 auto;
}
/*Egenskaper för tabell i section, ger dem svart ram samt centrerar tabellen i section*/
section table,th,td,tr{
    border: solid black 1px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    font-size: 1em;

}

/*Egenskaper för tbody, zebrastriping i tabellen*/
tbody>tr:nth-child(odd){
    background-color: #7fffd4;
}
/*skapar mellanrum mellan varje elementgrupp i formulär*/
fieldset{
    margin: 10px;
    text-align: center;
}
/*Egenskaper för skärm med upösnings bredd över 800 pixlar*/
@media screen and (min-width: 800px){

    body{
        height: 95vh;
    }
    /*ändrar egenskaper för wrapper classen*/
    .wrapper{
        width: 97%;
        height: 95%;
        margin: 0 auto;
        grid-template-rows: 50px 50px auto 30px;
    }
    /*ändrar gridlayout i main för classen wrapper */
    .wrapper main{
        grid-template-columns: 1fr 2fr  ;
        overflow: auto;
    }
    /*ändrar gridlayout för classen Form*/
    .Form{
        width: 97%;
        grid-template-rows:50px 50px auto 30px ;
    }
    /*ändrar gridlayouten för classen Form i main*/
    .Form main{
        grid-template-columns: 1fr;
    }
    /*ändrar gridlayout för main med classen Rek*/
    .Rek main{
        grid-template-columns: 1fr 2fr 1fr;
    }
    /*ändrar storleken på iframe beroende på skärmstorleken*/
    main iframe{
        display: block;
        width: 30vw;
        height: 25vh;
        margin: 0 auto;
    }
    /*Centrerar bilder i main*/
    main img{
        display: block;
        width: 75%;
        margin: auto;
    }
    /*skapar ny grid för nav och centrerar texten*/
    nav > ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }


    section{
        margin:20vh 4vw ;
        font-size: 1.5em;  
    } 
}